.el-tabs--card>.el-tabs__header {
    border: none;
    margin: 0;
}
.el-menu {
    border: none;
}
.el-input.is-disabled .el-input__inner {
    background-color: #fff !important;
    color: #606266 !important;
}
